# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
TaskVenv/
djenv/
*/djenv/
*/venv/

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

# Ignore Django database and logs
db.sqlite3
*.log